body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

section{
    background-color: rgb(196, 196, 196);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 10vh;
    border-radius: 10vh ;
    border: 5px solid rgb(196, 196, 196);
}


button{
    display: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    margin-left: -3.9rem;
    transition-duration: 0.3s;
}

button:focus{
    margin-left: 3.9rem;
    transition-duration: 0.3s;
}